style.
    .btn-twitter {
        background-color: #00aced;
        border: 0;
    }

    .btn-facebook {
        background-color: #3b5998;
        border: 0;
    }

    .btn-reddit {
        background-color: #ff4500;
        border: 0;
    }

    .inline-list {
        list-style-type: none;
        padding: 0;
    }
